.div_comments
  -@comments.each do |c|
    =hidden_field_tag :page_num, '1'
    =render c

-if @comments.next_page
  .infinite-scrolling-comments{id: "#{@post.id}", onclick: 'load_more(this.id)'}
    Show more...