.div_comments
  =hidden_field_tag :page_num, '1'
  -@comments.each do |c|  
    =render c

-if @comments.next_page
  .infinite-scrolling-comments{id: "#{@post.id}", onclick: 'load_more(this.id)'}
    Show more...