.post_container
  -if current_user && current_user.admin
    =link_to pending_post, method: :delete, title: 'Delete pending_post' do
      %i.fas.fa-times.delete
  .title
    %h3
      =link_to pending_post.title, pending_post_path(pending_post.id)
    =raw pending_post.tag_list.map{ |t| link_to t, tag_path(t), class: 'badge badge-light badge-tags' }.join(" ")
  .body_container
    =pending_post.body.html_safe
  .info
    .author.mb-2
      Autore:
      =link_to pending_post.user.username, pending_post.user 
      %small
        (
        =pending_post.created_at.strftime("%d %m %Y")
        )
    .likes_comments
      =link_to 'Accetta Post', action: "accept", pending_post_id: pending_post.id
      =link_to 'Rifiuta Post', pending_post, method: :delete
