
.row
  .col-lg-12.col-md-12.col-xs-12#post_divs
    -@pending_posts.each do |pp|
      =render pp
    =paginate @pending_posts, :theme => 'twitter-bootstrap-4', pagination_class: "justify-content-center"
