-if @post.likes.any?
  =raw @post.likes.last(2).map{ |l| link_to l.user.username, l.user}.join(', ')
  -if @post.likes.count > 2
    =link_to "and other #{@post.likes.count - 2}"
  %em
    liked this

-if current_user && current_user.likes.exists?(post_id: @post.id)
  =link_to [@post, @post.likes.find_by(user: current_user)], method: :delete, remote: true do
    %i.fas.fa-thumbs-up
-elsif !current_user
  =link_to new_user_session_path do
    %i.far.fa-thumbs-up
-else
  =link_to [@post, Like.new], method: :post, remote: true do
    %i.far.fa-thumbs-up
  