
.profile
  =cl_image_tag @user.avatar.standard.url, class: 'img-thumbnail'
  .user-info
    %h3
      =@user.username
    %span
      Email:
    %em
      %a{href: "mailito:#{@user.email}?subjet='Email da blogify'"}
        =@user.email
    %h6
      Joined:
      =time_ago_in_words(@user.created_at.to_datetime)
      ago.
      %em
        (
        =@user.created_at.strftime("%d/%m/%Y")
        )
  .user-stats
    %strong
      Posts
    %strong
      Followers
    %strong
      Seguiti
    %span.posts
      =@user.posts.count
    %span.followers
      =link_to user_followers_path(@user) do 
        =@user.followers.count
    %span.following
      =link_to user_followings_path(@user) do 
        =@user.following.count

    -unless current_user == @user
      .follow-unfollow
        -if current_user && current_user.following?(@user)
          =render 'relationships/unfollow'
        -else
          =render 'relationships/follow'

  .user-posts
    -@posts.each do |post|
      =render 'user_post', post: post
.infinite-scrolling
  =paginate @posts

:javascript
  $('document').ready(function(){
    if ($('.infinite-scrolling').size() > 0) {
      $('.content').scroll(function() {
        if($('.infinite-scrolling').size() < 1) $('.content').unbind('scroll');
        var more_posts_url = $('.pagination .next a').attr('href');
        if ($(this).scrollTop() + $(this).innerHeight() >=  $(this)[0].scrollHeight && more_posts_url) {
          $('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
      $(window).scroll(function() {
        if($('.infinite-scrolling').size() < 1) $(window).unbind('scroll');
        var more_posts_url = $('.pagination .next a').attr('href');
        if ($(this).scrollTop() + $(this).innerHeight() >=  $(this)[0].scrollHeight && more_posts_url) {
          $('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
    }
  })