.post_container{id: "post-#{post.id}"}
  -if current_user && current_user.admin
    =link_to post, method: :delete, title: 'Delete post' do
      %i.fas.fa-times.delete
  .title
    %h3
      =link_to post.title, post_path(post.id)
    =raw post.tag_list.map{ |t| link_to t, tag_path(t), class: 'badge badge-light badge-tags' }.join(" ")
  .body_container
    =post.body.html_safe
  .info
    .author.mb-2
      Autore:
      =link_to post.user.username, post.user 
      %small
        (
        =post.created_at.strftime("%d %m %Y")
        )
    .likes_comments
      -if current_user && current_user.likes.exists?(post_id: post.id)
        =link_to [post, post.likes.find_by(user: current_user)], method: :delete, class: 'like-button-container', remote: true do
          Like
          %i.fas.fa-thumbs-up
      -elsif !current_user
        =link_to new_user_session_path, class: 'like-button-container' do
          Like 
          %i.far.fa-thumbs-up
      -else
        =link_to [post, Like.new], method: :post, class: 'like-button-container', remote: true do
          Like
          %i.far.fa-thumbs-up 
      %small.ml-2.likes
        -if post.likes.any?
          %br
          =raw post.likes.last(2).map{ |l| link_to l.user.username, l.user}.join(', ')
          -if post.likes.count > 2
            and other #{post.likes.count - 2}
          %em
            liked this  
      %br
      =link_to post, class: 'comments-link' do
        =post.comments.count
        -if post.comments.count > 1
          Comments
        -else
          Comment
        %i.fas.fa-comment
  .comments_list
    -if post.comments.count < 1
      %em Nessun commento
    -post.comments.each do |c|
      .comment_div.border-bottom.border-top
        .comment
          =link_to c.user, title: c.user.username do
            =image_tag c.user.avatar.thumbnail.url, class: 'avatar_comment my-auto rounded-circle'
          .body_comment
            =simple_format c.body
        %small.date_time_comment
          =c.created_at.strftime("%d/%m/%Y %k:%M")
          -if current_user && (post.user == current_user || current_user == c.user || current_user.admin?)        
            =link_to [post, c], method: :delete, title: 'Delete comment' do
              %i.fas.fa-times
  =form_for([post, Comment.new], remote: true) do |f|
    =f.text_field :body, class: 'form-control input', placeholder: 'Scrivi un commento...'
    =f.submit "Invia", class: 'btn btn-outline-primary button'


