
.posts
  -@posts.each do |pp|
    =render pp
.infinite-scrolling
  =paginate @posts

:javascript
  $('document').ready(function(){
    if ($('.infinite-scrolling').size() > 0) {
      $('.content').scroll(function() {
        if($('.infinite-scrolling').size() < 1) $('.content').unbind('scroll');
        var more_posts_url = $('.pagination .next a').attr('href');
        if ($(this).scrollTop() + $(this).innerHeight() >=  $(this)[0].scrollHeight && more_posts_url) {
          $('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
      $(window).scroll(function() {
        if($('.infinite-scrolling').size() < 1) $(window).unbind('scroll');
        var more_posts_url = $('.pagination .next a').attr('href');
        if ($(this).scrollTop() + $(this).innerHeight() >=  $(this)[0].scrollHeight && more_posts_url) {
          $('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
          $.getScript(more_posts_url);
        }
      });
    }
  })