
.row
  .col-lg-12.col-md-12.col-xs-12#post_divs
    -@posts.each do |pp|
      .container.border-top.border-bottom.post_container.main-div.mx-auto.my-5
        .row.title_container.my-2.border-bottom
          %h3.mx-auto
            =link_to pp.title, post_path(pp.id)
        .row.tag_container.text-center
          Tags: 
          =raw pp.tag_list.map{ |t| link_to t, tag_path(t), class: 'badge badge-light badge-tags' }.join(" ")
        .row.body_container
          .col-lg-12
            =raw pp.body
        .row.border-top.footer_post
          .col-6
            %h6.my-auto.py-2
              Autore:
              =link_to pp.user.username, pp.user
          .col-6
            %h6.my-auto.py-2.created_at.text-right
              Inviato il 
              =pp.created_at.strftime("%d %m %Y")
