=render @post
:javascript
  $('document').ready(function(){
    if( $('.avatar_comment').length > 0 ){
      var height = $('#comment_body').innerHeight();
      var $array = $('.avatar_comment');
      for(var i = 0; i < $array.length; i++ ){
        $array.eq(i).height(height);
      }
    }
  })