/*
*= require_self
*= require_tree
*/

@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap';

body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

a:hover{
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.content {
  grid-area: content;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

.site-container{
  background: #e9ebee;
  display: grid;
  grid-template-columns: 5fr minmax(200px, 1fr);
  grid-template-rows: calc(100vh - 56px);
  grid-gap: 120px;
  grid-template-areas:
    "content footer";
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {

  .content {
    grid-area: content;
    max-height: calc(100vh - 56px - 100px);
  }
  
  .site-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(100vh - 56px - 100px);
    grid-gap: 0;
    grid-template-areas:
      "content"
      "footer";
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  .content{
    max-height: unset;
  }

  .site-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 0px;
    grid-template-areas:
      "footer"
      "content";
  }

  #search_posts_button{
    display: none;
  }
}