// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_div{
  position: relative;
}

.comment{
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-column-gap: 0.5rem;
  grid-template-areas:
    "avatar body";
  margin-bottom: 1rem;
}

.avatar_comment{
  height: 50px;
  width: auto;
  grid-area: avatar;
}

.body_comment{
  border-radius: 5px;
  background: #eff1f3;
  width: 100%;
  grid-area: body;
  border: 1px solid #d7d8da;
  padding-left: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
    "info"
    "text";
}

.body_comment span{
  grid-area: text;
}

.date_time_comment{
  grid-area: info;
}

@media screen and (max-width: 1024px) {
  .comment{
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.25rem;
  }

  .body_comment{
    word-break: break-all;
  }
}

@media screen and (max-width: 600px) {
  .comment{
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.25rem;
  }

  .body_comment{
    word-break: break-all;
  }
}