// Place all the styles related to the PendingPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body_container{
  margin: 5px;
}

.created_at{
  opacity: 0.8;
}

.footer_post a{
  color: #777777;
  margin-top: auto;
}

.footer_post{
  color: #444444;
}

#pending_post_body{
  resize: none;
  height: auto;
}

.form-group  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 50%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}