// Place all the styles related to the PendingPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_container{
  word-wrap: break-word;
  margin-top: 5%;

}

.body_container{
  margin: 5px;
}

.created_at{
  opacity: 0.8;
}

.footer_post a{
  color: #777777;
  margin-top: auto;
}

.footer_post{
  color: #444444;
}