// Place all the styles related to the PendingPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_post{
  background: white;
  background: white;  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 2.5rem 10rem 2.5rem 5rem;
  padding: 50px;
}

.new_post > form > .btn{
  display: table;
  margin: 0 auto !important;
}

.new_post > input[type=submit]{
  display: table;
  margin: 1rem auto;
}

@media screen and (max-width: 1024px){
  .new_post{
    background: white;
    background: white;  border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 2.5rem 2.5rem 2.5rem 2.5rem;
    padding: 35px;
  }
}

@media screen and (max-width: 600px){
  .new_post{
    background: white;
    background: white;  border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 0rem;
    padding: 25px;
  }
  
}