// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover{text-decoration: none;}

.title_container a{color: #444444;}

.page-item .page-link{color: #444444;}

#new_comment{width: 100%;}

.new_comment{padding-left: 0px;padding-right: 0px;}

#new_comment > .form-control{margin-left: 0px;}

#comment_body{width: 100%}

.comment_author a{font-weight: bold;}

.delete_comment a{
  color: rgb(206, 38, 38);
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: 0.8rem;
}

.page-item.active .page-link{
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  transform: scale(1.1, 1.1)
}

.comments_content{
  background-color: #e9ebee;
  border-radius: 18px;
  position: relative;
  word-break: break-all;
}

.date_time_comment{
  position: absolute;
  right: 8px;
  bottom: 2px;
  font-weight: 100;
  color: gray;
  font-size: 0.8rem;
}




@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .date_time_comment{
    font-size: 0.5rem;
    bottom: -1px;
  }
}


/* tablets and desktop */



