// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (max-width: 767px) {
  /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

#posts-nav{
  background: rgb(248,249,250); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(248,249,250) 0%, rgb(244,244,244) 48%, rgb(234,234,234) 49%, rgb(248,249,250) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(248,249,250) 0%,rgb(244,244,244) 48%,rgb(234,234,234) 49%,rgb(248,249,250) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(248,249,250) 0%,rgb(244,244,244) 48%,rgb(234,234,234) 49%,rgb(248,249,250) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9fa', endColorstr='#f8f9fa',GradientType=0 ); /* IE6-9 */
}

.card-header .btn-link{color: unset; text-decoration: none;}

[data-toggle="collapse"] .fa:before {content: "\f139";}

[data-toggle="collapse"].collapsed .fa:before {content: "\f13a";}

#centerdiv{margin-top: 20px; height: 100%;}

.form-heading { color:#fff; font-size:23px;}

.panel h2{ color:#444444; font-size:22px; margin:0 0 8px 0;}

.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.login-form .form-group {margin-bottom:10px;}

.login-form{text-align:center;}

.login-form a {
  color: #777777;
  font-size: 14px;
  text-decoration: none;
  margin-bottom:30px;
}

.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}