%footer
  .logo
    %h1
      Blogify
    %h6.author
      Made by 
      %a{href: 'https://www.linkedin.com/in/daniele-fedeli-a8725415b/'}
        Daniele Fedeli
  .logos
    %h4
      Puoi trovarci qui 
    %ul.logos-list
      %li
        %i.fa.fa-facebook
        Facebook
      %li
        %i.fa.fa-instagram
        Instagram
      %li
        %i.fa.fa-linkedin
        Linkedin
      %li
        %i.fa.fa-youtube
        Youtube
      %li
        %i.fa.fa-twitter
        Twitter
  .copyright
    Some shit about copyrights and how much it is important.
    %br 
    2018 © Daniele Fedeli