%nav.navbar.navbar-expand-xl.navbar-light.bg-light#top-nav
  %a.navbar-brand#brand Blogify
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => "/"}
          Home
          %span.sr-only (current)
      -if current_user
        %li.nav-item
          =link_to 'My profile', user_path(current_user), class: 'nav-link'
        %li.nav-item
          =link_to 'Settings', edit_user_registration_path(current_user), class: 'nav-link'
        %li.nav-item
          =link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
        %li.nav-item
          =link_to 'Crea un post', new_post_path, class: 'nav-link active', id: 'postcreate'
      -else
        %li.nav-item
          =link_to 'Sign in', new_user_session_path, class: 'nav-link'
        %li.nav-item
          =link_to 'Sign up', new_user_registration_path, class: 'nav-link'

    =form_tag posts_path, class: "form-inline my-2 my-lg-0", method: :get do
      =text_field_tag :query, "", class: "form-control mr-sm-2", placeholder: 'Ricerca post'
      =submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0", id:'search_posts_button'

      