
#mySidenav.sidenav.navbar-dark
  %a.closebtn{href: 'javascript:void(0)', onclick: 'closeNav();'}
    &times;
  %h3.text-light.text-center
    Most used tag
  #tag_cloud
    - tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class|
      =link_to tag.name, tag_path(tag.name), class: css_class

:javascript
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
  function openNav() {
    $("#mySidenav").addClass("moveSide-menu");
    $("#main").addClass("moveSide");
    $("#top-nav").addClass("moveSide");
  }

  /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
  function closeNav() {
    $("#mySidenav").removeClass("moveSide-menu");
    $("#main").removeClass("moveSide");
    $("#top-nav").removeClass("moveSide");
  }
